@use 'reset.scss';
@forward 'variables/global.scss';
@forward 'themes/light.scss';
@forward 'themes/dark.scss';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}