.Button {
  cursor: pointer;

  &.clear {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
  }

  svg {
    width: 15px;
    height: 15px;
    fill: var(--bg-color);
  }
}
