.sidebar {
  background: var(--inverted-bg-color);
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  position: relative;
  transition: 0.3s;

  &.collapsed {
    width: var(--sidebar-width-collapsed);
  }

  .switchers {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 20px;
  }
}
